<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" >
    <appender name="STDOUT" class="com.obdasystems.swing.SparqlingAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss} %-5level %logger{36} - %msg  [%thread] %n
            </pattern>
            <header></header>
        </encoder>
    </appender>

    <logger name="com.obdasystems" level="info"
            additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="error">
        <appender-ref ref="STERR" />
    </root>
</configuration>